body {
  background-color: #f5f5f5;
  font-family: "Oswald", sans-serif;
}

.product-description-section .product-rating-wrapper {
  margin: 1rem 0;
}
.product-description-section .product-rating-wrapper .checked {
  color: #f5ce04;
}
.product-description-section .product-rating-wrapper .product-rating {
  margin-right: 0.6rem;
}
.product-description-section .product-rating-wrapper .product-checkout-count {
  text-decoration: underline;
}
.product-description-section .product-rating-wrapper .product-checkout-count-wrapper {
  color: #919598;
}
.product-description-section .product-rating-wrapper .fa-star {
  margin-right: 6px;
}
.product-description-section .product-review-wrapper {
  font-size: 0.75rem;
}
.product-description-section .product-field {
  font-size: 0.75rem;
}
.product-description-section .product-field span {
  color: #919598;
}
.product-description-section .product-title {
  color: #3e3e3e;
  font-weight: 500;
}
.product-description-section .fa-comment-dots {
  font-size: 1.5rem;
  vertical-align: bottom;
  margin: 0 0.5rem;
}
.product-description-section .social-interactions {
  font-size: 3rem;
}
.product-description-section .social-interactions i {
  margin-right: 0.5rem;
  font-size: inherit;
}
.product-description-section .social-interactions i.fa-facebook-square {
  color: #4f71bb;
}
.product-description-section .social-interactions i.fa-share-alt-square {
  color: #dc0514;
}
.product-description-section .social-interactions div {
  display: inline-block;
  color: #919598;
}
.product-description-section .social-interactions div span {
  display: block;
  font-size: 0.75rem;
}

.carousel-section {
  padding: 0 4rem;
}
.carousel-section .carousel-inner {
  margin: auto;
}
.carousel-section .carousel-control-prev {
  margin-left: -75px;
  opacity: 1;
}
.carousel-section .carousel-control-next {
  margin-right: -75px;
  opacity: 1;
}
.carousel-section .fas {
  color: black;
  border: 1px solid black;
  padding: 10px;
  font-size: 0.65rem;
}
.carousel-section img {
  margin: 0 auto;
}

.checkout-section .checkout-item-counter {
  border: 2px solid black;
  display: inline-block;
}
.checkout-section .checkout-item-counter div {
  display: inherit;
  margin: 5px 10px;
}
.checkout-section .buy-now-button {
  background-color: #db0916;
  color: white;
  padding: 6px 30px;
  float: right;
  cursor: pointer;
}
.checkout-section .add-in-favourite {
  border: 1px solid black;
  margin: 15px 0;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.checkout-section .add-in-favourite span {
  margin: 8px;
}
.checkout-section .add-in-favourite .far {
  color: blue;
  font-size: 1.5rem;
}
.checkout-section .special-offer {
  border: 1px solid black;
  padding: 12px;
  font-size: 0.75rem;
}
.checkout-section .special-offer .send-offer {
  border: 1px solid black;
  margin: 8px 0px;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  cursor: pointer;
}
.checkout-section .price {
  font-size: 30px;
  color: #db0916;
  float: right;
}
.checkout-section .old-price {
  float: left;
  font-size: 20px;
  color: #919598;
  position: relative;
}
.checkout-section .old-price::before {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  border-bottom: 2px solid #919598;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.checkout-section .save-money {
  text-align: right;
}

.carousel-promo {
  border: 1px dashed #919598;
  padding-top: 50px;
  padding-bottom: 50px;
}
.carousel-promo .take-stack-wrapper {
  font-size: 0.75rem;
}
.carousel-promo .take-stack-wrapper .take-indicator {
  background-color: #3e3e3e;
  color: white;
  padding: 5px 10px;
}
.carousel-promo .stack-title {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.carousel-promo .stack-content-description {
  font-size: 0.75rem;
}
.carousel-promo .stack-content-description span {
  color: #db0916;
}
.carousel-promo .opti-men-pill-box-image {
  height: 10rem;
  margin: auto;
}
.carousel-promo .carousel-promo-item-title {
  font-size: 1rem;
  font-weight: 500;
}
.carousel-promo .carousel-control-prev {
  margin-left: -10rem;
  opacity: 1;
}
.carousel-promo .carousel-control-next {
  margin-right: -10rem;
  opacity: 1;
}
.carousel-promo .fa-arrow-left, .carousel-promo .fa-arrow-right {
  color: black;
  border: 1px solid black;
  padding: 10px;
  font-size: 0.65rem;
}
.carousel-promo .carousel-promo-price {
  line-height: 1rem;
  text-align: center;
}
.carousel-promo .carousel-promo-price .price {
  color: #db0916;
}
.carousel-promo .carousel-promo-price .old-price {
  color: #919598;
  font-size: 0.7rem;
  vertical-align: top;
  position: relative;
  display: inline-block;
}
.carousel-promo .carousel-promo-price .old-price::before {
  content: "";
  width: 100%;
  position: absolute;
  right: 0;
  top: 50%;
  border-bottom: 2px solid #919598;
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

.banner {
  height: 8rem;
  background-color: #383838;
  text-align: center;
  line-height: 8rem;
  text-align: center;
}
.banner .banner-text {
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Arial";
  font-weight: 700;
}

.info-tabs-container {
  margin-top: 2.5rem;
}
.info-tabs-container .tabs {
  margin: 0 auto;
}
.info-tabs-container i {
  color: #28b904;
}
.info-tabs-container #tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
}
.info-tabs-container #tab-button li {
  display: table-cell;
  text-transform: uppercase;
  min-width: 18%;
}
.info-tabs-container #tab-button li a {
  display: block;
  padding: 0.5em;
  border: 3px solid #f0f0f0;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.info-tabs-container #tab-button li a:hover,
.info-tabs-container #tab-button .is-active a {
  border-bottom-color: transparent;
  background: #f0f0f0;
}
.info-tabs-container .tab-contents {
  padding: 0.5em 2em 1em;
  position: relative;
  background: #f0f0f0;
  top: -1px;
  padding: 3.5rem 24rem;
}
.info-tabs-container .tab-button-outer {
  position: relative;
  z-index: 2;
  display: block;
}

/*# sourceMappingURL=main.css.map */
